<p-dialog #vsCode [(visible)]="displayVscode" [breakpoints]="{ '960px': '50vw' }" [style]="{ width: '30vw', minWidth: '60vw', minHeight: '500px' }" [closable]="false" [draggable]="true" [resizable]="true" styleClass="dialog-safari">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <i class="fas fa-circle close" (click)="closeDialog()"></i>
            <i class="fas fa-circle maximize" (click)="closeDialog()"></i>
            <i class="fas fa-circle minimize" (click)="vsCode.maximize()"></i>
        </div>
    </ng-template>
    <iframe style="height: 100%; width: 100%; min-height: 500px;" src="https://stackblitz.com/edit/angular?embed=1" frameborder="0" marginheight="0" marginwidth="0"></iframe>
</p-dialog>
