.container-login {
  height: 100vh;
  width: 100vw;
  background: url("../../../assets/background/light/ventura-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  .image-login{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .name-user-login{
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 25px;
    width: 200px;
    text-align: center;
  }
  .bar-options{
    position: absolute;
    bottom: 20px;
    .buttons-options{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      backdrop-filter: blur(12px);
      background: rgb(255 255 255 / 30%);
      cursor: pointer;
      i{
        color: #ffffffc4;
        font-size: 20px;
      }
    }
  }
  .login-button{
      width: 46px;
      height: 46px;
      border-radius: 50%;
      backdrop-filter: blur(12px);
      background: rgb(255 255 255 / 30%);
      margin-left: 10px;
      cursor: pointer;
      i{
        color: #ffffffc4;
        font-size: 20px;
      }
  }
}

::ng-deep .p-password{
  .p-inputtext{
    backdrop-filter: blur(12px);
    background: rgb(255 255 255 / 30%);
    border-radius: 30px;
  }

  .p-inputtext::placeholder {
    color: white;
    opacity: 0.5;
  }
}
.loging{
  ::ng-deep .menu-bar.p-menubar {
    border: 0px;
    background: #ffffff01;
    border-radius: 0;
    .p-menubar-start {
      margin-left: 10px;
      margin-right: 15px;
    }
    .p-menubar-end {
      i,
      span {
        margin-left: 15px;
        margin-right: 15px;
        cursor: pointer;
      }
      i:last-child {
        margin-left: 15px;
        margin-right: 10px;
      }
    }
    .p-menubar-root-list
      > .p-menuitem:not(.p-highlight):not(.p-disabled)
      > .p-menuitem-content:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  
    .p-menuitem.p-highlight > .p-menuitem-content {
      background: rgba(255, 255, 255, 0.2);
      color: #4b5563;
    }
  }
}