
<div class="absolute loging w-full">
    <p-menubar [model]="menubarItems" styleClass="menu-bar">
        <ng-template pTemplate="end">

            <i class="pi pi-volume-up"></i>
            <i class="pi pi-wifi"></i>
            <i class="pi pi-search"></i>
            <i class="pi pi-bars"></i>
            <span>Fri 13:07</span>
        </ng-template>
    </p-menubar>
</div>
<div class="container-login flex align-items-center justify-content-center">
    
    <div class="overflow-hidden">
        @if(!selectedUser){
            <div class="flex align-items-center justify-content-center gap-5 ">
                <p-carousel [value]="listUser" [numVisible]="3" [numScroll]="3" [circular]="false" [showIndicators]="false">
                    <ng-template let-item pTemplate="item">
                        <div class="flex flex-column align-items-center" (click)="selectedUser = item">
                            <div class="image-login relative mb-4 cursor-pointer mx-4">
                                <img src="{{item.avatar}}" alt="" srcset="">
                            </div>
                            <span class="name-user-login white-space-nowrap overflow-hidden text-overflow-ellipsis cursor-pointer">
                                {{item.name}}
                            </span>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
        }@else {
            <div class="flex align-items-center justify-content-center gap-5 ">
                        <div class="flex flex-column align-items-center">
                            <div class="image-login relative mb-4 cursor-pointer mx-4">
                                <img src="{{selectedUser.avatar}}" alt="" srcset="" fetchpriority="high">
                            </div>
                            <span class="name-user-login white-space-nowrap overflow-hidden text-overflow-ellipsis cursor-pointer mb-4">
                                {{selectedUser.name}}
                            </span>
                            @if(selectedUser.password){
                                <div class="p-2 flex">
                                    <p-password [style]="{'height' : '100%'}"  [(ngModel)]="password" [feedback]="false" placeholder="Ingresar contraseña" /> 
                                    <div class="login-button flex align-items-ceter justify-content-center" (click)="login()">
                                        <i class="fas fa-arrow-right flex align-items-center"></i>
                                    </div>
                                </div>
                            }@else{
                                <div class="login-button flex align-items-ceter justify-content-center" (click)="login()">
                                    <i class="fas fa-arrow-right flex align-items-center"></i>
                                </div>
                            }
                        </div>
            </div>
        }
    </div>
    <div class="bar-options">
        <div class="grid m-0">
            <div class="col">
                <div class="buttons-options flex align-items-ceter justify-content-center" (click)="clickTurnOff()">
                    <i class="fas fa-power-off flex align-items-center" pTooltip="Apagar" 
                    tooltipPosition="top" ></i>
                </div>
            </div>
            <div class="col">
                <div class="buttons-options flex align-items-ceter justify-content-center" (click)="clickRestar()">
                    <i class="fas fa-sync flex align-items-center" pTooltip="Reiniciar" 
                    tooltipPosition="top" ></i>
                </div>
            </div>
            <div class="col">
                <div class="buttons-options flex align-items-ceter justify-content-center" (click)="clickSuspend()">
                    <i class="fas fa-moon flex align-items-center" pTooltip="Suspender" 
                    tooltipPosition="top" ></i>
                </div>
            </div>
            @if(selectedUser){
                <div class="col">
                    <div class="buttons-options flex align-items-ceter justify-content-center" (click)="selectedUser = null">
                        <i class="fas fa-users flex align-items-center" pTooltip="Cambiar usuario" 
                        tooltipPosition="top" ></i>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>
