<p-dialog #task [(visible)]="displayTask" [breakpoints]="{ '960px': '50vw' }" [style]="{ width: '30vw', minWidth: '60vw', minHeight: '500px' }" [closable]="false" [draggable]="true" [resizable]="true" styleClass="dialog-task" (click)="task.moveOnTop()">
    <ng-template pTemplate="header">
        <div class="w-full flex align-items-center justify-content-between">
            <div class="inline-flex align-items-center justify-content-center gap-2">
                <i class="fas fa-circle close" (click)="closeDialog()"></i>
                <i class="fas fa-circle maximize" (click)="closeDialog()"></i>
                <i class="fas fa-circle minimize" (click)="task.maximize()"></i>
            </div>
            <div>
                <div class="tab-menu flex align-items-center shadow-2">
                    <span (click)="tab = 'PROCESSES'" [ngClass]="{'selected-tab': tab === 'PROCESSES'}">Procesos</span>
                    <span (click)="tab = 'PERFORMANCE'" [ngClass]="{'selected-tab': tab === 'PERFORMANCE'}">Rendimiento</span>
                </div>
            </div>
        </div>
        
    </ng-template>
    <div class="grid m-0">
        @switch (tab) {
            @case ('PROCESSES') {
                <div class="col-12 p-0">
                    <p-table 
                    [value]="value" 
                    [columns]="cols" 
                    [reorderableColumns]="true" 
                    [tableStyle]="{'min-width': '50rem'}" styleClass="table-task">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width:3rem"></th>
                                <th [pSortableColumn]="col" *ngFor="let col of columns" pReorderableColumn class="text-center">
                                    @switch (col.header) {
                                        @case('CPU'){
                                            <div>
                                                {{chartProccess.series[0]['data'][chartProccess.series[0]['data'].length - 1] ? chartProccess.series[0]['data'][chartProccess.series[0]['data'].length - 1]['y'] : 0}} %
                                            </div>
                                            <div>
                                               {{col.header}}  
                                            </div>
                                        }
                                        @case('GPU'){
                                            <div>
                                                {{chartProccess.series[1]['data'][chartProccess.series[1]['data'].length - 1] ? chartProccess.series[1]['data'][chartProccess.series[1]['data'].length - 1]['y'] : 0}} %
                                            </div>
                                            <div>
                                               {{col.header}}  
                                            </div>
                                            
                                        }
                                        @case('Disco'){
                                            <div>
                                                {{chartProccess.series[2]['data'][chartProccess.series[2]['data'].length - 1] ? chartProccess.series[2]['data'][chartProccess.series[2]['data'].length - 1]['y'] : 0}} %
                                            </div>
                                            <div>
                                              {{col.header}}   
                                            </div>
                                        }
                                        @case('Memoria'){
                                            <div>
                                                {{chartProccess.series[3]['data'][chartProccess.series[3]['data'].length - 1] ? chartProccess.series[3]['data'][chartProccess.series[3]['data'].length - 1]['y'] : 0}} %
                                            </div>
                                            <div>
                                               {{col.header}}  
                                            </div>
                                        }
                                        @default {
                                            {{col.header}} 
                                        }
                                    }
                                    
                                        
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template 
                            pTemplate="body" 
                            let-rowData 
                            let-columns="columns" 
                            let-index="rowIndex">
                                <tr [pReorderableRow]="index">
                                    <td>
                                        <span class="pi pi-bars" pReorderableRowHandle></span>
                                    </td>
                                    <td *ngFor="let col of columns" class="text-center">
                                        {{rowData[col.field]}}
                                    </td>
                                </tr>
                        </ng-template>
                </p-table>
                </div>
               
            
            }
            @case ('PERFORMANCE') {
                <div class="col-12">
                    <apx-chart *ngIf="chartProccess"
                                  [chart]="chartProccess.chart"
                                  [dataLabels]="chartProccess.dataLabels"
                                  [stroke]="chartProccess.stroke"
                                  [grid]="chartProccess.grid"
                                  [markers]="chartProccess.markers"
                                  [series]="chartProccess.series"
                                  [xaxis]="chartProccess.xaxis"
                                  [yaxis]="chartProccess.yaxis"
                                  [title]="chartProccess.title"
                                  [legend]="chartProccess.legend"
                                ></apx-chart>
                </div>
            }
        }
        
    </div>
</p-dialog>
