.close,
.maximize,
.minimize {
  cursor: pointer;
}

.close {
  color: #ee4450;
}

.maximize {
  color: #f6b52e;
}

.minimize {
  color: #2edc3f;
}

::ng-deep .dialog-task.p-dialog .p-dialog-content {
  padding: 0;
  overflow: hidden;
}

.tab-menu{
  border-radius: 10px;
  overflow: hidden;
  span{
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    backdrop-filter: blur(12px);
    background: rgb(255 255 255 / 30%);
  }
}

.selected-tab{
  background: rgb(255 255 255 / 80%)!important;
}