.tab-menu{
  border-radius: 10px;
  overflow: hidden;
  span{
    width: 120px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    backdrop-filter: blur(12px);
    background: rgb(255 255 255 / 30%);
  }
}

.selected-tab{
  background: rgb(255 255 255 / 80%)!important;
}

::ng-depp .table-task .p-datatable .p-datatable-tbody > tr > td{
  text-align: center;
}