/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  cursor: url('assets/icons/cursor.png'), auto;
}

.p-dialog .p-dialog-header{
  backdrop-filter: blur(12px);
  background: rgb(255 255 255 / 30%);
}